@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
  body {
    @apply font-body;
  }
}


input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
  border: none;
  height: 8px;
}


input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #A4FFAF;
  margin-top: calc(8px * 0.5 - max(28px * 0.5,2px));
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:active {
  background: #18171F;
  border: 2px solid #A4FFAF;
}

input[type=checkbox] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #E6E5EA
}

input[type=checkbox]:hover {
 border: 2px solid #A4FFAF;
}

input[type=checkbox]:checked {
  background-color: #A4FFAF;
  border: 2px solid #A4FFAF;
}

input[type=checkbox]:checked::after {
  content: "✔";
}